<div class="container justify-center col-6">
  <div class="carte row border border-light-subtle bg-light-subtle m-5 p-5">
    <h2>Créer un compte : </h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      <%= f.input :first_name%>
      <%= f.input :last_name%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Creer compte", class: "btn btn-info" %>
        <%= link_to "Se connecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-info ms-3"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<%# --------------------------------------------------------------- %>
