<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid ">
  <div class="d-flex justify-content-center align-items-center">
  <div class="col justify-content-center">
    <%= link_to "/", class: "navbar-brand" do %>
    <img class="image-navbar" src="https://static-00.iconduck.com/assets.00/duck-icon-512x512-vw9nz9x2.png", alt="duck logo">
      <%#= image_tag "https://static-00.iconduck.com/assets.00/duck-icon-512x512-vw9nz9x2.png" %>
  </div>

      <p class="navbar-title col-11 align-middle ms-2">Loc a Duck</p>
    <% end %>
  </div>
  </div>
<%#
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
<div class="col">
    <div class="collapse navbar-collapse mx-5 text-center " id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Tous les canards", "/index", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Ajouter un canard", "/ducks/new", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mon profil", "/dashboard", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Se deconecter', destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Creer un compte", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Se conecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
</div>
  </div>
</div>
