
<div class="d-flex justify-content-center">

  <div class="fiche row border border-light-subtle shadow-sm bg-light-subtle m-5 p-5">
        <h2 class="title">Je souhaite louer le canard <strong><%= @duck.title%></strong>  </h2>
    <div class="">

          <div class="d-flex">
          <div class="col d-flex justify-content-center ">
              <%= cl_image_tag @duck.photo.key, class: "card-img-top", alt: @duck.title, class:"img-thumbnail" %>
          </div>
          <div class="col">
              <div class="col formconteiner">
              <p class="card-duck-pricing d-flex align-items-center"><strong class="mb-3">Prix:<%= @duck.price %>€ / jour </strong></p>
                <%= simple_form_for [@duck, @booking] do |f| %>
                  <%= f.input :date,
                          label: 'A partir de',
                          as: :string,
                          input_html: { data: { controller: "datepicker", target: "startDate" } } %>
                  <%= f.input :end_date,
                          label: "Jusqu'au",
                          as: :string,
                          input_html: { data: { controller: "datepicker", target: "endDate" } } %>
                  <%= f.button :submit, "Louer", class: "btn btn-info"%>
                <% end %>
              </div>
          </div>
    </div>
  </div>
</div>
