
<div class="background">
<div class="container mx-auto">

<div class="row">
<div class="col d-flex">
  <div class="header d-flex">
    <div class="title py-5">
        <h1 class="title pb-2">Bienvenue sur Loc a Duck!</h1>
        <%# <h2 class="subtitle">Le site numéro <strong>un</strong> de location de canard en plastique</h2> %>
      </div>
</div>
  <%# START SEARCH--------------------- %>
    <div class="col p-5 align-items-center justify-content-end d-flex w-100">
    <div class=" ml-auto flex-grow-1">
      <%= form_with url: ducks_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Chercher un canard..."
          %>
        <%= image_submit_tag("canard-search.png", class: "btn-search", alt: "Rechercher") %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<%# END SEARCH--------------------- %>
    <div class="row">
      <% @ducks.each do |duck| %>
        <div class="col-lg-4 mb-5"> <!-- Adjust column size as needed -->
          <%#= link_to duck_path(duck) do %>
          <%= link_to new_duck_booking_path(duck) do %>
            <div class="card-img shadow-sm bg-white h-100">
              <% if duck.photo.attached? %>
                <%= cl_image_tag duck.photo.key, class: "card-img-top", style: "height: 250px; object-fit: scale-down; padding: 10px;", alt: duck.title %>
              <% end %>
              <div class="card-body text-left">
                <h2 class="card-title"><%= duck.title %></h2>
                <p class="card-text" id= "center-prix">Prix : <%= duck.price %> € / jour</p>

              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
 </div>
