
<div class="container d-flex justify-content-center ">

  <div class="carte row border border-light-subtle shadow-sm bg-light-subtle m-5 p-5">

    <div class="">
        <h2 class="title">Ajoute un canard à la location  </h2>

          <div class="">

              <div class="formconteiner">
              <p class="card-duck-pricing d-flex align-items-center"></p>

                <%= simple_form_for(@duck)do |f| %>
                  <%= f.input :title %>
                  <%= f.input :price %>
                  <%= f.input :photo, as: :file %>
                  <%= f.button :submit, "Ajouter", class: "btn btn-info"%>
                <% end %>
              </div>
          </div>
    </div>
  </div>
</div>
