<div class="main-title">
  <h1 id="mesCanards">Mes canards en location</h1>
</div>
<div class="container mx-auto bg-light-subtle shadow-sm bg-white rounded">
  <div class="main-title ps-3 pb-3">
    <h1>Mes Locations à venir</h1>
  </div>
<div class="row">
  <% @bookings.each do |booking| %>
    <div class="col-4">
    <div class="card m-2 border-0 shadow-sm p-3 mb-5 bg-white rounded">
        <%= cl_image_tag booking.duck.photo.key, class: "card-img-top padding-0 img-thumbnail", alt: booking.duck.title %>
            <div class="info-content">
            <div class="duck-name"><strong><%= booking.duck.title %></strong></div>
            <div class="date d-flex">
                  Date de debut : <%= booking.date %><br>
                  Date de fin : <%= booking.end_date %>
                 </div>
                <div class="col destroy text-end">
                  <%= link_to "Annuler", booking_path(booking), class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </div>
                <% if booking.status == "pending" %>
                      <p>Status: Validation en attente</p>
                <% elsif booking.status == "validated" %>
                      <p>Status: Location validée</p>
                <% else %>
                      <p>Status: Location refusée</p>
                    <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
<div class="container mx-auto bg-light-subtle shadow-sm bg-white rounded">
    <div class="main-title">
      <h1>Mes canards en location</h1>
    </div>
    <div class="add-btn">
      <%= link_to "Ajouter un nouveau canard", new_duck_path, class: "btn btn-info" %>
    </div>
    <div class="cards justify-center">
      <div class="row">
        <% @ducks.each do |duck| %>
          <div class="col-4">
            <div class="card-img m-3 shadow-sm bg-white ">
              <% if duck.photo.present? %>
                <%= cl_image_tag duck.photo.key, class: "card-img-top padding-0", alt: duck.title, style: "height: 200px; object-fit: scale-down;", class:"img-thumbnail" %>
              <% end %>
              <div class="h-100 card-body">
                <% if duck.title.present? %>
                  <div class="card-title mb-2"> <strong><%= duck.title %></strong> </div>
                <% end %>
                <% if duck.price.present? %>
                  <div class="duck-price"><strong> Prix: <%= duck.price %></strong> €</div>
                <% end %>
                <% if current_user == duck.user %>
                  <% duck.bookings.each do |booking| %>
                    <% if booking.status == "pending" %>
                      <p>Status: En cours</p>
                      <%= link_to "Valider", accept_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-success" %>
                      <%= link_to "Refuser", decline_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-success", style: "display: none;" %>
                    <% elsif booking.status == "validated" %>
                      <p>Status: Valider</p>
                      <%= link_to "Refuser", decline_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-success" %>
                      <%= link_to "Valider", accept_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-success", style: "display: none;" %>
                    <% else %>
                      <p>Status: Refuser</p>
                      <%= link_to "Valider", accept_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-success" %>
                      <%= link_to "Refuser", decline_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-success", style: "display: none;" %>
                    <% end %>
                  <% end %>
                <% end %>

                <div class="card-delete col destroy text-end">
                  <%= link_to "Supprimer",
                    duck_path(duck), class: "text-danger",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
