<%# MES LOCATIONS A VENIR--------------------------------------------------- %>
<div class="container mx-auto">
<div class="main-title my-4">
  <h1 id="mesCanards">Mes Locations à venir</h1>
</div>



    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-lg-4 mb-3">
          <div class="card-img shadow-sm bg-white h-100">
            <%= cl_image_tag booking.duck.photo.key, class: "card-img-top", style: "height: 250px; object-fit: scale-down; padding: 10px", alt: booking.duck.title %>
                <div class="info-content">
                  <div class="duck-name">
                    <h2><%= booking.duck.title %></h2>
                  </div>
                  <p>Dates de location</p>
                  <div class="date d-flex">
                    Du : <%= booking.date %><br>
                    Au : <%= booking.end_date %>
                  </div>
                  <br>
                  <% if booking.status == "en_attente" %>
                        <p class="$yellow">Validation en attente</p>
                  <% elsif booking.status == "validé" %>
                        <p class="text-success">Location validée</p>
                  <% else %>
                        <p class="text-danger">Location refusée</p>
                      <% end %>
                  <div class="col destroy">
                    <%= link_to "Annuler la location", booking_path(booking), class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                  </div>
                </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<%# FIN MES LOCATIONS A VENIR---------------------------------------------- %>

<%# MES CANARDS EN LOCATION----------------------------------- %>
  <div class="container mx-auto">
<div class="main-title my-4">
  <h1 id="mesCanards">Mes canards en location</h1>
</div>

    <div class="row">
      <% @ducks.each do |duck| %>
        <div class="col-lg-4 mb-3">
          <div class="card-img shadow-sm bg-white h-100">
            <% if duck.photo.present? %>
                <%= cl_image_tag duck.photo.key, class: "card-img-top padding-0", alt: duck.title, style: "height: 250px; object-fit: scale-down; padding: 10px" %>
              <% end %>
              <div class="h-100 card-body">
                <% if duck.title.present? %>
                  <div class="duck-name my-5">
                    <h2><%= duck.title %></h2>
                  </div>
                <% end %>
                <% if duck.price.present? %>
                  <div class="duck-price"><strong> Prix: <%= duck.price %></strong> €</div>
                <% end %>
                <% if current_user == duck.user %>
                  <% duck.bookings.each do |booking| %>
                    <% if booking.status == "en_attente" %>
                        <div><%= link_to "Valider", accept_booking_path(booking), class: "text-success" %></div>
                        <div><%= link_to "Refuser", decline_booking_path(booking), class: "text-danger" %></div>

                    <% else %>
                      <div><%= booking.status %></div>
                    <% end %>
                  <% end %>

                <% end %>

                <div class="card-delete col destroy">
                <%= link_to "Ne plus louer ce canard",
                    duck_path(duck), class: "text-danger",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
                </div>
                </div>


          </div>
        </div>
      <% end %>
    </div>
  </div>


<%# FIN MES LOCATIONS A VENIR----------------------------------- %>
